li {
  margin-top: 10px;
}
li:nth-child(odd of .puce-lol)::marker {
  color: hotpink;
  content: "✲ ";
}
li:nth-child(even of .puce-lol)::marker {
  color: #0cdf9c;
  content: "✲ ";
}

li:nth-child(odd of .conc)::marker {
  color: #0cdf9c;
  content: "✲ ";
}
li:nth-child(even of .conc)::marker {
  color: #a6c712;
  content: "✲ ";
}

li:nth-child(odd of .puce-animgames)::marker {
  color: #0cdf9c;
  content: "✲ ";
}
li:nth-child(even of .puce-animgames)::marker {
  color: #dc0000;
  content: "✲ ";
}
li:nth-child(odd of .puce-event)::marker {
  color: #0cdf9c;
  content: "✲ ";
}
li:nth-child(even of .puce-event)::marker {
  color: #ff9100;
  content: "✲ ";
}

li:nth-child(odd of .puce-diff)::marker {
  color: #0cdf9c;
  content: "✲ ";
}
li:nth-child(even of .puce-diff)::marker {
  color: hotpink;
  content: "✲ ";
}

li:nth-child(odd of .puce-peri)::marker {
  color: #ff9100;
  content: "✲ ";
}
li:nth-child(even of .puce-peri)::marker {
  color: #0cdf9c;
  content: "✲ ";
}

.without-dot {
  list-style: none;
  padding-left: 0;
}

/* MEDIAQUERIES */
@media (min-width: 576px) {
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /*  min-height: 50vh !important;   */
  .plaket-pdf {
    margin-top: -0vh;
    margin-left: 0vw !important;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .plaket-pdf {
    margin-top: 0vh;
    margin-left: 0vw !important;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .plaket-pdf {
    margin-top: -35vh;
    margin-left: -8vw !important;
  }
}

@media (min-width: 1400px) {
  .plaket-pdf {
    margin-top: -15vh;
    margin-left: -8vw !important;
  }
}
